extends layout

block content
  h1 Server Error
  p Sorry! There was an unexpected error on the server.
  if error.status
    p Error Status: #{error.status}
  if error.stack && process.env.NODE_ENV === 'development'
    pre #{error.stack}




